 div{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    /* animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5; */

    animation: colorAnimate 2s ease-in 0s infinite normal;
} 
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5); */
    /* transition-timing-function: ease-in;

    transition: all 2s ease-in 1s; */
    /* transform: rotate(90deg); */
    /* transform: scale(2);

}
div:hover{
    background-color: red;
    transform: rotate(90deg);
}
div:active{
    background-color: pink;
} */

/* @keyframes colorAnimate{
    from{background-color: blue;}
    to{background-color: red;}
} */

@keyframes colorframe{
    0%{ left:0px;
        background-color: yellow;}
    50%{background-color: blue;}
    100%{left: 200px;
         background-color: red;}
}